.container{
    display: grid;
    /* grid-template-columns: 100px auto 300px; */
    grid-template-columns: repeat(3 , auto);
    /* grid-template-columns: repeat(3, minmax(0 , 1fr)); */
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
}

.item:first-child{
    display: grid;
    grid-column: 1 / span 2;
}

.item{
    border: 2px solid black;
    padding: 20px;
    background-color: aquamarine;
}